# Ignore node_modules
node_modules/
frontend/node_modules/.cache/

# Ignore log files
*.log

# Ignore environment files
.env
backend/.env

# Ignore cache and build files
**/.cache/
**/*.pack
**/*.pack.old
**/.eslintcache
